* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}

.title {
    font-size: 32px;
}

.title, .subtitle {
    font-weight: bold;
    text-decoration: underline;
}

.subtitle {
    font-size: 28px;
}
.recipelist {
    list-style-type: none;
}

.link {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    padding: 5px;
}

.blackborder {
    border: 5px solid black;
    border-radius: 3px;
}

.para {
    width: 50%;
}


.pagecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.para {
    display: block;
  }


ul, ol { 
    text-align: left;
    width: 25%;
}

li {
    margin-bottom: 5px;
}


a:visited {
    color: black;
}

.link:hover {
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-radius: 5px;
    color:black;
}